@import "tailwindcss";

:root {
  --background: #f9f7f5;
  --middleground: #f2f0ec;
  --foreground: #0c0a09;
}

@theme inline {
  --color-background: var(--background);
  --color-middleground: var(--middleground);
  --color-foreground: var(--foreground);

  --color-text-primary: #0c0a09;
  --color-text-muted: #5c5a57;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pixel: var(--font-geist-pixel-square);
}
